<!DOCTYPE html>
<html>
<body>

    <h2> Ha ingresado un nuevo contacto a la web</h2>
    <dl>
        <dt>
           <strong> Nombre Contacto:</strong>
        </dt>
        <dd>
           <em> {{Nombre}}</em>
        </dd>
        <dt>
            <strong>Telefono: </strong>
        </dt>
        <dd><em>{{Telefono}}</em></dd>
        <dt>
           <strong> Email: </strong>
        </dt>
        <dd><em>{{Email}}</em></dd>
        <dt>
           <strong> Renta:  </strong>
        </dt>
        <dd><em>{{Renta}}</em></dd>
        <dt>
            <strong>Region:</strong> 
        </dt>
        <dd><em>{{Region}}</em></dd>
        <dt>
          <strong>  Prevision: </strong>
        </dt>
        <dd><em>{{Prevision}}</em></dd>
        <dt>
           <strong> Cargas: </strong>
        </dt>
        <dd><em>{{Cargas}}</em></dd>
    </dl>


</body>
</html>